@font-face {
    font-family: 'Pirate';
    src: url('/Fonts/Pirate\ Scroll.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Marketfresh';
    src: url('/Fonts/Market\ Fresh\ Inline\ Bold\ ALL\ CAPS.ttf') format('truetype');
    font-weight: normal;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #1F1F1F;
}

h1 {
    font-size: 70px;
    font-family: 'Marketfresh';
    margin-top: 70px;
    color: #F5E27A;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #F5E27A;
}

:root {
    --outer-shadow:
    0 0 0.1vw 0.1vw #F5E27A,
    0 0 0.1vw 1vw #F5E27A,
    0 0 1vw 1.5vw #F5E27A;
}

.slot {
    width: 50%;
    height: 350px;
    overflow: hidden;
    margin: auto;
    background-color: #1F1F1F;
    border-radius: 8px;
    box-shadow: var(--outer-shadow);
    margin-top: 70px;
}

#slot-screen {
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 1%;
}

ul {
    list-style: none;
}

ul li {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    margin: 5px 0;
    background-color: #f9f9f9;
    display: flex;
}

.reels {
    width: 31%;
    position: absolute;
    padding: 0;
}

.reels:nth-child(1) {
    left: 0;
}

.reels:nth-child(2) {
    left: 34.5%;
}

.reels:nth-child(3) {
    right: 0;
}

.reel img {
    display: block;
    margin: auto;
    height: 240px;
    max-width: 100%;
}

.stop-btn {
    display: inline-block;
    padding: 10px;
    margin: 60px 30px 40px 30px;
    background-color: #C71E27;
    border-bottom: solid 2px #646464;
    border-radius: 60px;
}

.stop-btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

#start-btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: #63d74c;
    border-radius: 40px;
    font-size: 30px;
    margin-bottom: 80px;
    font-weight: bold;
    font-family: 'Pirate';
    letter-spacing: 3px;
    color: #1F1F1F;
}

#start-btn:active {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    border: none;
}